@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;  
}

main {
    position: relative;
    height: 100vh;
}


/* Socials networks logo */

#social-networks-logo {
   text-align: right; 
}

#social-networks-logo a {
    display: block;
}

#social-networks-logo img {
    width: 50px;
    margin: 10px;
   
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);   
}

#social-networks-logo img:hover {
   border: 2px solid rgba(255, 255, 255, 0.637);
   transform: translate(-3%, -3%);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
   transition: transform .3s, border 1s;
}


/* Iphone frame*/

#iphone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone.png');
    
}

#tela {
    position: absolute;
    top: 80px;
    left: 22px;
    
    width: 267px;
    height: 471px;
 
}

